<app-action-bar [step]="5"></app-action-bar>
<app-action-bar [step]="10"></app-action-bar>
<!-- <span>มา 4 คน จ่าย 3</span>
<div>
    <input #priceBuffetInput type="text" value="20000" placeholder="ราคา">
    <button (click)="calBuffet(priceBuffetInput.value)">คำนวณ</button>
</div>
<span> คนละ {{value}}</span> -->
<!-- Hello World Angular!!!
This is my title {{title}}
<br>
my name is {{ninjaname}}
<button type="button" (click)="ninjaconsole()">Show Name</button>
<div>
<button type="button" (click)="changeName('sakura')">Change Name to sakura</button>
<button type="button" (click)="changeName('sasuke')">Change Name to sasuke</button>
<button type="button" (click)="changeName('naruto')">Change Name to naruto</button>
</div> -->